pyodbc
python-dotenv
gunicorn
django
djangorestframework
djangorestframework-simplejwt
djangorestframework-csv
markdown
django-filter
Pillow
mssql-django
django-debug-toolbar

django-bootstrap-datepicker-plus
django-widget-tweaks