{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="search">
        <a href="{% url 'search_results' %}" class="search-button">Перейти к поиску</a>
    
        <div class="search-form">
            <form action="{% url 'search_list' %}" method="get" class="search-form">
                {{ filter.form|crispy }}
                <input type="submit" class="btn btn-success" value="Search">
            </form>
        </div>

        <div class="container">
            {% for list in object_list %}
            <p><a href="{% url 'list_detail' list.pk %}">{{ list.name }} {{ list.firstname }} {{ list.midname }}</a></p>
            {% endfor %}
        </div>
    
    </div>

    <style>
        form select, form input:not([type="checkbox"]), form textarea {
          width: auto;
        }
        .container {
            max-width: 800px;
            margin: 20px auto;
            background-color: #fff;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        p {
            margin: 0;
            padding: 10px;
            border-bottom: 1px solid #ccc;
        }

        a {
            text-decoration: none;
            color: #007bff;
            font-weight: bold;
        }

        a:hover {
            color: #0056b3;
        }

        .pagination {
            display: flex;
            justify-content: center;
            margin-top: 20px;
        }

        .pagination a {
            color: #007bff;
            padding: 8px 16px;
            text-decoration: none;
            border: 1px solid #007bff;
            border-radius: 4px;
            margin: 0 4px;
        }

        .pagination .current {
            background-color: #007bff;
            color: #fff;
            border: 1px solid #007bff;
            border-radius: 4px;
            padding: 8px 16px;
            margin: 0 4px;
        }

        .search-button {
            display: block;
            margin: 20px auto;
            padding: 10px 20px;
            background-color: #007bff;
            color: #fff;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            text-decoration: none;
            font-weight: bold;
        }

        .search-button:hover {
            background-color: #0056b3;
        }
    </style>
    
{% include "paginations.html" %}
    
{% endblock content%}



